.element-footer {
    position: relative;
    z-index: 1;

    h6 {
        color: var(--bs-dark);
    }

    .nav-link {
        color: var(--bs-gray-600);
        padding: 0;
        font-size: .875rem;

        &:hover {
            color: var(--bs-primary);
        }
    }

    .btn-social {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        border-radius: .5rem;
        border: 1px solid var(--bs-gray-500);
        background: transparent;
        color: var(--bs-gray-500);
        font-size: .875rem;
        padding: 0;
        transition: 0.3s ease-in-out;

        &:hover {
            border-color: var(--bs-primary);
            color: var(--bs-primary);
        }
    }
}
