input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-control {
    border-color: var(--input-border-color);
    box-shadow: 0px 0px 23px rgba(129, 138, 166, 0.1);
    border-radius: 0.7rem;
}

.ms-n10 {
    margin-left: -10px !important;
}
