.nav-line-pills {
    border-bottom: 1px solid var(--bs-gray-300);

    .nav-item {
        margin-right: 2rem;

        .nav-link {
            font-weight: 500;
            color: var(--bs-gray-600);
            white-space: nowrap;
            padding: 16px 0px;
            margin-bottom: -1px;
            border-bottom: 2px solid transparent;
            border-radius: 0px;
            &.active {
                color: var(--bs-primary);
                background-color: transparent;
                border-bottom: 2px solid var(--bs-primary);
            }
            &:hover {
                color: var(--bs-primary);
                background-color: transparent;
                border-bottom: 2px solid var(--bs-primary);
            }
        }
    }

    @media (max-width: 576px) {
        overflow-x: scroll;
        flex-wrap: nowrap;
        overflow-y: hidden;
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.nav-pills-dark .nav-item .nav-link {
    color: var(--bs-gray-800);
    background-color: transparent;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-weight: 500;
    margin-bottom: 0.25rem;
}

.nav-pills-dark .nav-item .nav-link:hover {
    color: #001e2b;
    background-color: var(--bs-light);
}

.nav-pills-dark .nav-item .nav-link.active {
    color: #fff;
    background-color: #001e2b;
}
