.navbar {
    a:hover, a:focus, a.focus {
        text-decoration: none;
    }

    .dropdown-item.active, .dropdown-item:active {
        background-color: #0aad0a;
    }
}

@media screen and (min-width: 992px) {
    .navbar .navbar-nav > li.nav-item {
        > a.nav-link {
            color: var(--bs-dark);
            font-weight: 500;
            padding: 0.5rem 1rem;
            &:hover,
            &.active {
                color: var(--bs-primary);
            }
        }
    }
}
