/*
 * Common Styles
 */

/* BS vars */
:root {
    --bs-body-line-height: 1.6;
    --bs-body-color: #5c6c75;
    --bs-body-font-weight: 500;
    --bs-font-sans-serif: "Inter",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-body-font-size: 0.875rem;
    --bs-primary: #0aad0a;
    --bs-primary-rgb: 10,173,10;
    --bs-border-radius: 0.5rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.75rem;
}

.btn {
    --bs-btn-padding-y: 0.55rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-font-weight: 600;
    --bs-btn-border-radius: var(--bs-border-radius);
}

body {
    background-color: #f0f3f2;
}

h1, .h1 {
    font-size: 2.5rem;
}
h2, .h2 {
    font-size: 1.625rem;
}
h3, .h3 {
    font-size: 1.375rem;
}
h4, .h4 {
    font-size: 1.1875rem;
}
h5, .h5 {
    font-size: 1rem;
}
h6, .h6 {
    font-size: 0.875rem;
}

/* Disable collapse animation */
.collapsing {
    transition: none;
}

.text-inherit {
    color: var(--bs-gray-800);
}

.text-reset {
    &:hover {
        color: var(--bs-primary) !important;
    }
}

/* Extended spacers */
.mt-8 { margin-top: 2rem !important; }
.mb-8 { margin-bottom: 2rem !important; }
.px-8 { padding-left: 2rem !important; padding-right: 2rem !important; }
.py-14 { padding-top: 5rem !important; padding-bottom: 5rem !important; }
.ps-12 { padding-left: 4rem !important; }
.py-16 { padding-top: 8rem !important; padding-bottom: 8rem !important; }

@media (min-width: 992px) {
    .ps-lg-12 { padding-left: 4rem !important; }
    .py-lg-16 { padding-top: 8rem !important; padding-bottom: 8rem !important; }
}
