/* Common */
@import "theme/variables.css";
@import "theme/common.css";

/* Layouts */
@import "layouts/default.css";

/* Controls */
@import "controls/gallery-slider.css";
@import "controls/card-slider.css";
@import "controls/quantity-input.css";
@import "controls/price-slider.css";
@import "controls/star-rating.css";

/* Elements */
@import "elements/animations.css";
@import "elements/dropdown.css";
@import "elements/text.css";
@import "elements/card.css";
@import "elements/callouts.css";
@import "elements/nav.css";
@import "elements/navbar.css";
@import "elements/jumbotron.css";
@import "elements/pagination.css";
@import "elements/buttons.css";
@import "elements/footer.css";
@import "elements/social-links.css";
@import "elements/user-panel.css";
@import "elements/lists.css";
@import "elements/form.css";
@import "elements/popover.css";
@import "elements/modals.css";
@import "elements/stepper.css";
@import "elements/shop.css";
