/*
 * Default Layout (All pages)
 */
#layout-banner {
    font-size: .875rem;
    padding: .3rem 0;
    color: #5c6c75;
    background-color: #f0f3f2;
}

#layout-header {
    background: white;
    padding: 1.5rem 0;

    .navbar-brand {
        padding: 0;
    }
}

#layout-nav {
    background: white;
}

#layout-content {
    background: #fff;

    .container-padded {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    header {
        padding: 0 0 30px 0;
    }
}

#layout-footer {
    padding-top: 2rem;
}

ul.list-with-ticks {
    padding: 0;

    li {
        list-style: none;
        position: relative;
        padding-left: 23px;

        &:before {
            content: '';
            display: block;
            width: 15px;
            height: 15px;
            background: url('../../assets/images/icons/icon-tick.png') no-repeat 0 0;
            background-size: 15px 15px;
            position: absolute;
            left: 0;
            top: 6px;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

html[data-turbo-preview] .fade-in-content {
    opacity: 0;
}

html:not([data-turbo-preview]) .fade-in-content {
    animation: fadeIn 0.15s ease-in-out;
}
