{% set controlName = 'bundle_items[' ~ bundleItem.id ~ '][quantity][' ~ itemProduct.id ~ ']' %}
{% set currentQty = post('bundle_items.' ~ bundleItem.id ~ '.quantity.' ~ itemProduct.id, itemProduct.default_quantity) %}
{% set effectivePrice = itemProduct.getEffectivePrice() %}

<div class="bundle-product-quantity d-flex align-items-center justify-content-between mt-2">
    <div>
        {% if itemProduct.allow_manual_quantity %}
            <div data-control="quantity-input" class="input-group input-group-sm control-quantity-input">
                <input type="button" value="-" class="btn btn-sm button-minus" />
                <input
                    class="quantity-field form-input form-control-sm"
                    type="number"
                    step="1"
                    min="1"
                    max="10"
                    name="{{ controlName }}"
                    value="{{ currentQty }}" />
                <input type="button" value="+" class="btn btn-sm button-plus" />
            </div>
        {% else %}
            <span class="small text-muted">Qty: {{ currentQty }}</span>
        {% endif %}
    </div>
    <div>
        <span class="fw-bold">{{ effectivePrice|currency }}</span>
    </div>
</div>
