.control-card-slider {
    position: relative;

    /* Override slick font-based dots with CSS circles */
    .slick-dots li button:before {
        font-family: inherit;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--bs-gray-800);
        opacity: .25;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .slick-dots li.slick-active button:before {
        opacity: .75;
        background: var(--bs-gray-800);
    }

    &.type-hero {
        .slick-slide {
            margin-right: 0 !important;
        }

        .slick-dots {
            position: absolute;
            bottom: 10px;
            display: block;
            li {
                margin: 0;
            }
        }
    }

    &.type-category {
        margin-left: -.5rem;
        margin-right: -.5rem;

        .slick-slide {
            margin-left: .5rem;
            margin-right: .5rem;

            img {
                display: inline-block;
            }
        }

        .slick-track {
            margin-left: 0;
            margin-right: 0;
        }

        .slick-prev,
        .slick-next {
            position: absolute;
            top: 0;
            left: 97%;
            padding: 0;
            transform: translate(0, -50%);
            cursor: pointer;

            font-size: 18px;
            height: 32px;
            width: 32px;
            display: inline-flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            background-color: var(--bs-gray-200);
            border: 1px solid var(--bs-gray-200);
            border-radius: 50px;
            color: var(--bs-gray-500);
            transition: 0.3s ease-in-out;

            &:before {
                display: none;
            }

            &:hover {
                background-color: var(--bs-primary);
                border-color: var(--bs-primary);
                color: var(--bs-white);
            }

            @media (max-width: 1024px) {
                left: 94%;
            }
            @media (max-width: 390px) {
                left: 87%;
            }
        }

        .slick-prev {
            margin-top: -38px;
            margin-left: -40px;
            &:hover {
                color: var(--bs-white);
                outline: none;
                background: var(--bs-primary);
            }
            &:focus {
                display: none;
            }
        }

        .slick-next {
            margin-top: -38px;
            &:hover {
                color: var(--bs-white);
                outline: none;
                background: var(--bs-primary);
            }
            &:focus {
                display: none;
            }
        }
    }
}
