/* Price Slider (noUiSlider overrides) */
.noUi-target {
    background-color: var(--bs-gray-100);
    border-radius: 0.5rem;
    border: none;
}

.noUi-horizontal {
    height: 8px;
}

.noUi-handle {
    border: transparent;
    border-radius: 100%;
    background: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.18);
}

.noUi-handle:focus {
    outline: none;
}

.noUi-horizontal .noUi-handle {
    width: 18px;
    height: 18px;
    right: -13px;
    top: -6px;
}

.noUi-handle::before,
.noUi-handle::after {
    display: none;
}

.noUi-connects {
    border-radius: 6px;
}

.noUi-connect {
    background: var(--bs-primary);
}
