.control-quantity-input {
    flex-wrap: nowrap;
    width: auto;

    .button-minus,
    .button-plus {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        padding: 0;
        border-color: var(--bs-gray-200);
        background-color: transparent;
        font-size: 1rem;
        line-height: 1;
        &:hover {
            background-color: var(--bs-gray-200);
            border-color: var(--bs-gray-200);
        }
    }

    .quantity-field {
        height: 2rem;
        width: 2.6rem;
        min-width: 2.6rem;
        flex: 0 0 auto;
        background: none;
        text-align: center;
        border: 1px solid var(--bs-gray-200);
        padding: 0;
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}
