[data-control="star-rating"] {
    position: relative;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='108.9' height='103.6' viewBox='0 0 108.9 103.6'%3E%3Cpolygon fill='%23e3e6e6' points='54.4 0 71.3 34.1 108.9 39.6 81.7 66.1 88.1 103.6 54.4 85.9 20.8 103.6 27.2 66.1 0 39.6 37.6 34.1 54.4 0'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-position: 0 0;
    cursor: pointer;
    user-select: none;
}

[data-control="star-rating"] .star-rating-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='108.9' height='103.6' viewBox='0 0 108.9 103.6'%3E%3Cpolygon fill='%23f1c947' points='54.4 0 71.3 34.1 108.9 39.6 81.7 66.1 88.1 103.6 54.4 85.9 20.8 103.6 27.2 66.1 0 39.6 37.6 34.1 54.4 0'/%3E%3C/svg%3E");
    background-repeat: repeat-x;
    background-position: 0 0;
    transition: width 0.1s ease;
}
